<form class="kv-agent-search"
      onsubmit="return !(kvEXEC('AgentSearch', 'submit', this));"
>
	<div id="kvcoreidx-agent-search" class="kv-agent-search-multiselect"></div>
	<div class="kv-agent-search-submit">
		<button type="submit" class="kv-button">Submit</button>
	</div>
</form>
