<div class="kv-area-page-area-listings" data-location="{{area_location}}">
</div>
<a class="kv-listing-button" data-key="{{polygon_key}}" data-geo="{{geog_id}}" href="#">View More {{area_location}} Listings</a> 