<form class="kv-market-report-search"
      onsubmit="return !(kvEXEC('MarketReportSearch', 'submit', this));"
>
	<div id="kvcoreidx-market-report-search" class="kv-market-report-search-multiselect"></div>
	<div class="kv-market-report-search-submit">
		<button type="submit" class="kv-button">Submit</button>
	</div>
</form>
