<div id="area-pages-tab">
    <div class="area-pages-header">
        <div class="area-pages-modules-go-back">
            <a class="back-to-area-pages" href="#">
                &lt; Back to Area Pages
            </a>
        </div>
        <div class="area-pages-modules-heading">
            <h2>{% if name %}Editing '{{ name }}'{% else %}&nbsp;{% endif %}</h2>
        </div>
    </div>

    <div class="kv-row">
        <div class="area-pages-content">
            <div class="area-pages-container">
                <div class="area-pages-list kv-container">
                    <div class="area-pages-list-headings">
                        <div class="area-active">
                            Active
                        </div>

                        <div class="area-name">
                            Header
                        </div>

                        <div class="area-edit-remove">
                            &nbsp;
                        </div>
                    </div>

                    <div class="area-page-item-list">
                        <div class="kv-text-center kv-my-5 kv-bold">
                            Loading...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
