<div id="area-pages-tab">
    <div class="area-pages-header">
        <div class="area-pages-areas-heading">
            <h2>Area Pages</h2>
        </div>
    </div>

    <div class="kv-row">
        <div class="area-pages-content">
            <div class="area-pages-container">
                <div class="area-pages-list-header">
                    <div class="kv-row kv-py-1 kv-px-4">
                        <div class="area-pages-list-search">
                            <div class="area-pages-input">
                                <input type="text" id="area-pages-search" class="area-pages-input-field" placeholder="Search for Areas" />
                                <i class="fa fa-search area-pages-input-icon"></i>
                            </div>
                        </div>

                        <div class="area-pages-list-options">
                            <div
                                class="kv-admin-button dropdown kv-mr-2"
                                for="area-pages-list-set-rows"
                            >
                                <i class="fa fa-th-list icon-left"></i>

                                <select id="area-pages-list-set-rows">
                                    <option value="10">10 Rows</option>
                                    <option value="25">25 Rows</option>
                                    <option value="50">50 Rows</option>
                                </select>

                                <i class="fa fa-chevron-down icon"></i>
                            </div>


                            {# <button class="kv-admin-button dropdown">
                                <i class="fa fa-columns icon-left"></i>
                                <span class="label">
                                    10 Rows
                                </span>
                                <i class="fa fa-chevron-down icon"></i>
                            </button> #}
                        </div>
                    </div>
                </div>

                <div class="area-pages-list kv-container">
                    <div class="area-pages-list-headings">
                        <div class="area-active">
                            Active
                        </div>

                        <div class="area-name">
                            Area Name
                        </div>

                        <div class="area-active-modules">
                            Active Modules
                        </div>

                        <div class="area-type">
                            Area Type
                        </div>

                        <div class="area-edit-remove">
                            &nbsp;
                        </div>
                    </div>

                    <div class="area-page-item-list">
                        <div class="kv-text-center kv-my-5 kv-bold">
                            Loading...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
