{% set mapsmall = kvcoreidx.publicUrl ~ 'images/map.png' %}

<div class="kv-hero-area">
    <div class="kv-area-container">
    <div class="kv-hero-content">
        <div class="kv-col-6">
            <div>
                <div class="kv-hero-subtitle">Redondo Beach, CA</div>
                <h1 class="kv-hero-heading">REDONDO<br>BEACH AREA</h1>
                <div class="kv-hero-description">
                <h2>At a Glance</h2>
                <p>Redondo Beach is a coastal city in Los Angeles County, California, United States, located in the South Bay region of the Greater Los Angeles area. It is one of three adjacent beach cities along the southern portion of Santa Monica Bay. The population was 66,748 at the 2010 census, up from 63,261 at the 2000 census.  <br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat arcu nibh sed quis tellus nisl augue. Suspendisse bibendum netus at molestie vivamus vitae phasellus. Eget varius tortor sagittis, at pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat arcu nibh sed quis tellus nisl augue.</p>
                </div>
            </div>
        </div>
        <div class="kv-col-6">
            <div class="kv-hero-mapbox"><img src="{{mapsmall}}" loading="lazy" width="500" srcset="{{mapsmall}}" class="kv-image"></div>
        </div>
    </div>
    </div>
</div>
