{% set iconup = kvcoreidx.publicUrl ~ 'images/Polygon-1.png' %}
{% set iconnochange = kvcoreidx.publicUrl ~ 'images/Polygon-3.png' %}
{% set icondown = kvcoreidx.publicUrl ~ 'images/Polygon-2.png' %}

<div class="kv-area-highlights">
   <div class="kv-area-container">
      <div class="kv-area-section-heading">Redondo Beach Area Highlights</div>
      <div class="kv-area-section-line"></div>
      <div class="kv-area-row ">
         <div class="kv-col-3">
            <div class="kv-area-highlight-block">
               <div class="kv-hero-highlight-statistic">$734k</div>
               <div class="kv-type-text">Avg Home Price</div>
               <div class="kv-hero-statistics-sub">
                  <img src="{{ iconup }}" loading="lazy" alt="" class="kv-highlight-icon">
                  <div class="kv-stat-text">Up 10.9% vs LA County</div>
               </div>
            </div>
         </div>
         <div class="kv-col-3">
            <div class="kv-area-highlight-block">
               <div class="kv-hero-highlight-statistic">847</div>
               <div class="kv-type-text">Homes for Sale</div>
               <div class="kv-hero-statistics-sub">
                  <img src="{{ iconnochange}}" loading="lazy" alt="" class="kv-highlight-icon">
                  <div class="kv-stat-text">No Change in last 30 days</div>
               </div>
            </div>
         </div>
         <div class="kv-col-3">
            <div class="kv-area-highlight-block">
               <div class="kv-hero-highlight-statistic">45</div>
               <div class="kv-type-text">Homes New to Market</div>
               <div class="kv-hero-statistics-sub">
                  <img src="{{ icondown }}" loading="lazy" alt="" class="kv-highlight-icon">
                  <div class="kv-stat-text">Down 3% in Last 30 DAYs</div>
               </div>
            </div>
         </div>
         <div class="kv-col-3">
            <div class="kv-area-highlight-block">
               <div class="kv-hero-highlight-statistic">$276</div>
               <div class="kv-type-text">Avg Cost per Square Foot</div>
               <div class="kv-hero-statistics-sub">
                  <img src="{{ iconup }}" loading="lazy" alt="" class="kv-highlight-icon">
                  <div class="kv-stat-text">Up 4% in Last 30 Days</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>