<div class="kv-autocomplete-container">
	<input type="text"
	       id="{{ id }}"
	       class="kv-autocomplete"
	       title="{{ key|capitalize }}"
	>
	<button type="button" tabindex="-1" id="{{ idClear }}" class="kv-autocomplete-clear">&times;</button>
</div>