<div id="kvcoreidx-shortcode--listing-detail--slider" class="modal kv-modal kv-detail-v2-slider fade in">
    <nav class="kv-detail-v2-slider-controls">
        <i class="fa fa-chevron-left"></i>
        <i class="fa fa-chevron-right"></i>
    </nav>
    <div class="modal-dialog kv-modal-dialog">
        <div class="kv-modal-content kv-container">
            <div class="kv-modal-header">
                <button type="button" class="kv-modal-close" data-dismiss="kv-modal">&times;</button>
            </div>
            <div class="kv-modal-body">
                <div class="kv-detail-v2-slider-photo"></div>
            </div>
        </div>
    </div>
</div>
