<div class="kv-map-popup">
    <div class="kv-sold-gate">
        <p><i class="fa fa-lock lock-icon" aria-hidden="true"></i></p>
        <p>Local rules require you to be logged in to see more photos</p>
    </div>
    <div class="text-center-bottom">
        <div class="kv-map-popup-other-info-wrapper" style="justify-content:flex-end">
            <div class="other-info"></div>
        </div>
    </div>
</div>
