{# ---
layout: none
--- #}
<div class="message message-{{ type }}">
    <div class="message-left">
        <i class="fa fa-{{ icon }}"></i>
        </div>
    <div class="message-right">
        <div class="message-title">{{ title }}</div>
        {{ message }}
        </div>
    <div class="message-close">&times;</div>
</div>