<div class="kv-nolistings-found">
    <p class="kv-bold">No Matching Results</p>
    <p>Your search produced no matching results.<br />Please edit your search by zooming out, adjusting your search area outline or adjusting your search filters.</p>
    <button class="kv-button-dark kv-mr-1 kv-filters-clear">Clear Filters</button><button class="kv-button kv-mr-1 kv-filters-clear">Clear Filters</button><button class="kv-button-secondary kv-filters-clear">Start Over</button>
</div>