<a href="{{ website_url }}" target="_blank">
    <div class="kv-map-popup" style="background-image: url({{ business_photo }});background-color: #ccc;">
        <div class="text-center text-center-top">
            <div class="address">{{ address }}</div>
        </div>
        <div class="text-center text-center-bottom">
            <div class="other-info">
                <span>{{ name }}</span>
            </div>
        </div>
    </div>
</a>