<div class="{{ kvcoreidx.wrapper_class }}">
    <div id="modal--pending" class="modal kv-modal kv-modal-pending fade in">
        <div class="modal-dialog kv-modal-dialog">
            <div class="kv-modal-content kv-container">
                <div class="kv-modal-header">
                    <h4 class="kv-modal-title">Check Your Email to Gain Full Access</h4>
                    <button type="button" class="kv-modal-close" data-dismiss="kv-modal">&times;</button>
                </div>
                <div class="kv-modal-body">
                    <p id="kv-pending-message">You requested that we send email to gain access to view sold properties.</p>
                    <p id="kv-pending-prompt">Check your email and click the link to proceed.</p>
                    <button id="kv-pending-button" class="kv-button kv-mb-4 kv-w-100">Re-send the verification email</button>
                    By registering, you agree to our <a target="_blank" href="{{ pages.terms_of_use }}">terms of use</a> and that
                    real estate professionals and lenders may call/text you about your inquiry, which may involve use
                    of automated means and prerecorded/artificial voices. You don't need to consent as a condition of
                    buying any property, goods or services. Messages/data rates may apply.
                </div>
                <div class="kv-modal-footer">
                    
                </div>
            </div>
        </div>
    </div>
</div>