<div class="kv-valuation-pdf-search">
	<div id="kv-valuation-pdf-search-map" class="kv-valuation-pdf-search-map"></div>
	<div id="kv-valuation-pdf-unit" class="kv-valuation-pdf-unit">
		<input type="text" name="unitnum" id="unitnum" placeholder="Unit# (optional)" value="">
	</div>
	<button type="button" class="kv-valuation-pdf-search-button kv-button">Submit</button>
</div>