<div id="kvcoreidx-shortcode--listing-detail--details" class='kv-container kv-py-4 loading loading-mt-25 loading-mh kv-hide-contents'>
    <div class="kv-content-box kv-mb-4">
        <div class="kv-content-box-heading">
            <h2>Home Details</h2>
        </div>
        <div class="kv-content-box-content">
            {% include 'shortcodes/listing-detail/details/home-details.twig' %}
        </div>
    </div>

    {% if kvcoreidx.mapsApi is defined and kvcoreidx.mapsApi != '' %}
        <div class="kv-content-box kv-mb-4">
            <div class="kv-content-box-heading">
                <h2>Property Location</h2>
            </div>
            <div class="kv-content-box-content kv-detail-property-location-container">
                {% include 'shortcodes/listing-detail/details/property-location.twig' %}
            </div>
        </div>
    {% endif %}
    <div class="kv-content-box kv-hidden">
        <div class="kv-content-box-heading">
            <h2>Similar Properties</h2>
        </div>
        <div class="kv-content-box-content">
            {% include 'shortcodes/listing-detail/details/similar-properties.twig' %}
        </div>
    </div>
</div>

{% set vars = {
    pages: {'terms_of_use': function('get_site_url', null, 'terms-of-use', null)},
    options: kvcoreidx.options
} %}
{% include 'login.twig' with vars %}
{% include 'lead-manager.twig' with vars %}
{% include 'question.twig' with vars %}