<div id="kvcoreidx-shortcode--listing-detail--header" class='kv-container loading loading-mt-25 loading-mh kv-hide-contents'>
    <div class="kv-detail-header-container">
        {% include 'shortcodes/listing-detail/header/slider.twig' %}
        {% include 'shortcodes/listing-detail/header/detail.twig' %}
    </div>
</div>
