<div id="kvcoreidx-shortcode--listing-detail--go-back" class="kv-detail-header-go-back">
    <a href="{{ go_back_link }}" class="text-dark font-weight-bold">&lt; All Properties</a>
</div>
<div id="kvcoreidx-shortcode--listing-detail--header-slider" class="kv-detail-header-slider-container"></div>
